<ng-container *transloco="let t; read: 'login'">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="w-full">
    <div class="flex flex-col gap-4 w-full">
      <afric-alert [margin]="true" />

      <!-- Email Input -->
      <div class="form-control">
        <label class="input input-bordered flex items-center gap-2">
          <i class="fa-light fa-envelope"></i>
          <input
            type="email"
            class="grow"
            [placeholder]="t('form.email.placeholder')"
            formControlName="email"
            [class.input-error]="
              email?.invalid && (email?.dirty || email?.touched)
            "
            (input)="clearError()"
          />
        </label>
        @if (email?.invalid && (email?.dirty || email?.touched)) {
          <div class="text-error text-xs mt-1">
            @if (email?.errors?.["required"]) {
              <div>{{ t("form.email.errors.required") }}</div>
            }
            @if (email?.errors?.["email"]) {
              <div>{{ t("form.email.errors.invalid") }}</div>
            }
          </div>
        }
      </div>

      <!-- Password Input -->
      <div class="form-control">
        <label
          class="w-full input input-md rounded-box validator pr-0 pl-3 gap-0"
        >
          <i class="fa-light fa-key pr-2"></i>
          <input
            class="pl-1"
            [type]="showPassword() ? 'text' : 'password'"
            autocomplete="off"
            required
            formControlName="password"
            [class.input-error]="
              password?.invalid && (password?.dirty || password?.touched)
            "
            (input)="clearError()"
          />
          <button
            (click)="showPassword.set(!showPassword())"
            class="btn btn-ghost bg-transparent border-none px-2 shadow-none"
          >
            @if (showPassword()) {
              <i class="fa-light fa-eye-slash"></i>
            } @else {
              <i class="fa-light fa-eye"></i>
            }
          </button>
        </label>
        @if (password?.invalid && (password?.dirty || password?.touched)) {
          <div class="text-error text-xs mt-1">
            @if (password?.errors?.["required"]) {
              <div>{{ t("form.password.errors.required") }}</div>
            }
          </div>
        }
      </div>

      <!-- Submit Button -->
      <button
        type="submit"
        class="btn btn-primary w-full rounded-box"
        [disabled]="loginForm.invalid || loading()"
      >
        @if (!loading()) {
          <span>{{ t("form.submit") }}</span>
        } @else {
          <span class="loading loading-spinner"></span>
        }
      </button>
    </div>
  </form>
</ng-container>
